//Typo
$poppins : Poppins;
$Dosis : Dosis;
$lobster : Lobster;
$lato : Lato;

//font size
$h1 : 74px;
$h2: 50px;
$price-title:30px;
$h3-card-pricing:28px;
$h3: 25px;
$h4:20px;
$h6 : 18px;
$link: 16px;
$p : 16px;
//responsive font tablette
$h1-resp:40px;
$h2-resp:35px;
$h3-resp: 15px;
$h4-resp:15px;
$h6-resp: 15px;
$link-resp: 14px;
$p-resp : 14px;
//responsive mobile
$h1-mobile:30px;
$h2-mobile:25px;
$h3-mobile: 16px;
$h4-mobile:10px;
$h6-mobile: 10px;
$link-mobile: 9px;
$p-mobile : 9px;

//Colors
$white: #fff;
$white-dyeing:#f8f8f8;
$grey:#484848;
$grey-dyeing-light:#7a839e;
$grey-dyeing-Dark:#42495b;
$purple:#7e76f9;
$purple-light:#7f76f969;
$blue:#1000ff;
$degrade: linear-gradient(to right, #1a129f 66%, #6156F9 100%);

//shadow-box
$webkit: 0px 6px 30px 0px rgba(50, 50, 50, 0.42);
$moz:    0px 6px 30px 0px rgba(50, 50, 50, 0.42);
$box-shadow: 0px 6px 30px 0px rgba(50, 50, 50, 0.42);

//Responsive IPAD PRO 
$ipadpro : 1024px;
//Responsive IPAD
$ipad : 768px;
//Responsive Iphone 
$iphone : 375px;

